@media (max-width: 991px) {
    html {
      font-size: 55%;
    }
    .header {
      padding: 2rem;
    }
    section {
      padding: 2rem;
    }
  }
  
  @media (max-width: 768px) {
    #menu-btn {
      display: inline-block;
    }
    .header .navbar {
      position: absolute;
      top: 99%;
      left: 0;
      right: 0;
      background: #fff;
      border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
      border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
              clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    .header .navbar.active {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
              clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    .header .navbar a {
      font-size: 2rem;
      margin: 2rem;
      display: block;
    }
    .home .home-parallax-img {
      top: 0;
      right: 0;
      width: 130%;
    }
    .order form .flex .inputBox {
      width: 100%;
    }
  }
  
  @media (max-width: 450px) {
    html {
      font-size: 50%;
    }
    .shopping-cart-container .cart-total .box {
      text-align: center;
    }
    .shopping-cart-container .cart-total .box .btn {
      width: 100%;
    }
    .home .content h3 {
      font-size: 3rem;
    }
    .home .content p {
      font-size: 1.5rem;
    }
  }