* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --blue1: #33ABC6;
    --blue2: #3F65EA;
    --green: #7CB93E;
    --green2: #1CCD8D;
    --red: #F64A69;
    --purple: #A635EC;
    --orange: #F9A85D;
}

.container {
    padding-right: 0;
    padding-left: 0;
}

.col-4 {
    /* padding-left: 0; */
}



.blue1 {
    background-color: var(--blue1);
}

.blue2 {
    background-color: var(--blue2);
}

.green {
    background-color: var(--green);
}

.green2 {
    background-color: var(--green2);
}

.red {
    background-color: var(--red);
}

.purple {
    background-color: var(--purple);
}

.orange {
    background-color: var(--orange);
}

.header {
    background-color: #FFF9F3;
    display: flex;
    max-width: 100%;
    height: 160px;
    padding-top: 1.5rem;

}

.title {
    color: #EB6D20;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    width: 200px;
}

.form-group {
    background-color: #fff;
    display: flex;
    height: 48px;
    border-radius: 50px;
    flex: 1;
    margin-right: 24px;
    padding: 8px;
    max-width: 760px;
}

.dropdown {
    padding-left: 5px;
    cursor: pointer;
    background: #F5F6F8;
    border-radius: 50px;
    padding: 8px 24px;
}

.dropdown-label {
    display: flex;
    background: #F5F6F8;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin-right: 12px;
}




.search {
    height: 100%;
    flex: 1;
}

.search-input {
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0 16px;
}


.btn.orange {
    background: #EB6D20;
    border-radius: 50px;
    color: #fff;
    font-family: 'Poppins';
    padding: 14px 28px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}

.more-label {
    font-family: 'Poppins';
    margin-left: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.more-icon {
    position: relative;
}

.more-quantity {
    position: absolute;
    width: 24px;
    height: 24px;
    background: #EB6D20;
    border-radius: 50%;
    color: #fff;
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
    left: 12px;
    bottom: 28px;

}

.more-icon i {
    font-size: 24px;
}

.more1 {
    margin-left: 24px;
}

.search-input {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #9A9A9A;
}

/* header-nav */

.header-nav {
    margin: 28px 0;
}

.header-nav-item {
    margin-right: 48px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #3E3E3E;
    margin-bottom: 0;
    position: relative;
    padding: 4px 0;
    cursor: pointer;
}


.header-nav-border {
    position: absolute;
    width: 42px;
    height: 4px;
    background: #EB8426;
    border-radius: 50px;
    left: 0;
    bottom: -8px;
    display: none;
}

.header-nav-item:hover {
    color: #EB8426;
}

.header-nav-item:hover .header-nav-border {
    display: block;
}

.header-nav-item.active {
    color: #EB8426;
}

.header-nav-item.active .header-nav-border {
    display: block;
}


.banner-img {
    position: relative;
    border-radius: 5px;
}

.banner-p {
    position: absolute;
    margin-bottom: 0;
    bottom: 0;
    margin-left: 16px;
    margin-bottom: 16px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
}

.banner-img img {
    max-width: 100%;
}

.banner-img2 img,
.banner-img2 {
    max-width: 100%;
}

.banner-img2 img {
    margin: auto;
    margin-top: 53px;
}

.row {
    margin: 24px 0;
}

.banner-color {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right: 8px;
    cursor: pointer;
}

.banner-description {
    padding: 0 24px 24px 24px;
}

.banner-description span,
#banner-description span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 12px;
    display: block;
    color: #3E3E3E;
}

.banner-name {
    margin-top: 24px;
    margin-bottom: 8px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #3E3E3E;
    height: 48px;
}

.banner-price {
    margin-bottom: 0;
}

.banner-item {
    border-radius: 5px;
    cursor: pointer;
    height: 418px;
}

.banner-item img {
    max-width: 300px;

}

.banner-img2 {
    position: relative;
}

.banner-img2 i {
    position: absolute;
    right: 0;
    margin-top: 16px;
    margin-right: 16px;
    cursor: pointer;
}


.banner2 {
    background: #F5F6F8;
    border-radius: 5px;
}

.banner2-content h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #0B0B0B;
    margin-bottom: 12px;
}

.banner2-content p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #292929;
}


.banner2-content {
    padding: 45px 0 45px 24px;
    max-width: 200px;
}

.banner2-img img {
    position: absolute;
    width: 126px;
    height: 126px;
    right: 0%;
    margin-top: 24px;
    margin-right: 24px;

}

.banner2 {
    position: relative;
}

.product-category h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #3E3E3E;
}

.product-category span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #9A9A9A;
}

.product-category {
    padding-top: 24px;
    padding-bottom: 8px;
}

.product-category-item {
    max-width: 12.5%;

}

.product-category-item img {
    padding: 8px;
    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.product-category-item p {
    padding-top: 24px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #3E3E3E;
    text-align: center;
}

.product-category-all {
    padding-bottom: 48px;
    padding-top: 25px;
}

.title-product {
    text-align: center;
    justify-content: space-between;
    margin-bottom: 48px;
}

.title-product p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #EB8426;
    margin-bottom: 0;
}


.product2-item {
    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.product2-img {
    position: relative;
}

.product2-img i {
    position: absolute;
    right: 0;
    margin-top: 16px;
    margin-right: 16px;
    cursor: pointer;
}

.product2-img img {
    margin: auto;
    margin: 8px 8px 0 8px;
    max-width: 166px;
}

.product2-name {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #3E3E3E;
    margin-bottom: 16px;
    padding-left: 10px;
    height: 32px;
}

.product2-price {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #3E3E3E;
    padding-left: 10px;
    padding-bottom: 16px;
}

.menu-item {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #3E3E3E;
    margin-bottom: 0;
    position: relative;
    padding: 4px 0;
    cursor: pointer;
}


.menu-item-border {
    width: 100%;
    height: 1px;
    background: #E9E9E9;
    border-radius: 5px;
    position: absolute;
    bottom: -32px;
    left: 0;
    max-width: 200px;
    margin: 8px;
}


.menu-item.active1 {
    color: #EB8426;
}

.menu-item.active1 .menu-item-border {
    display: block;
    bottom: -23px;
    background: #EB8426;
    max-width: 200px;
}


.menu {
    margin-bottom: 65px;
}


.subcribe {
    background-color: #5959D9;
    max-width: 100%;
    height: 306px;
}



.subcribe-des p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
    padding-top: 40px;
    padding-bottom: 8px;
    margin-bottom: 0;
}

.subcribe-des span,
#subcribe-des span {
    color: #FFFFFF;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
}

.subcribe-des {
    max-width: 700px;
    padding-left: 112px;
    padding-bottom: 48px;
}
.dropdown-label i {
    padding-left: 15px;
    margin-bottom: -2px;
}

.custom-search {
    position: relative;
    max-width: 648px;
    /* margin-left: 336px; */
    margin-top: 48px;
    margin-bottom: 20px;
    margin: auto;
}

.custom-search-input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 100px;
    padding: 10px 100px 10px 20px;
    line-height: 1;
    box-sizing: border-box;
    outline: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    height: 48px;

}

.custom-search-botton {
    position: absolute;
    right: 8px;
    top: 8px;
    bottom: 8px;
    border: 0;
    background: #EB8426;
    color: #fff;
    outline: none;
    margin: 0;
    padding: 0 24px;
    border-radius: 100px;
    z-index: 2;
}

.custom-search-botton i {
    margin-left: 10px;
}

.subcribe span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #D6D6D6;
    display: flex;
  justify-content: center;
}


#menu-btn {
    display: none;
}

.form-all {
    flex: 1;
}



#really {
    padding-top: 20px;
}

.swiper {
    position: relative;
}
