a {
    text-decoration: none;
}



.container{
   max-width: 1200px;
   margin:0 auto;
   padding:3rem 2rem;
}

.container .title{
   font-size: 3.5rem;
   color:#444;
   margin-bottom: 3rem;
   text-transform: uppercase;
   text-align: center;
}

 .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
   gap:2rem;
}

 .box-container .box{

   cursor: pointer;
}

 .box-container .box:hover img{
   transform: scale(1.2);
}

.box-container .box h3{
   padding:.5rem 0;
   font-size: 2rem;
   color:#444;
}

.products-container .box-container .box:hover h3{
   color:#27ae60;
}

 .box-container .box .price{
   font-size: 2rem;
   color:#444;
}

.products-preview{
   position: fixed;
   top:0; left:0;
   min-height: 100vh;
   width: 100%;
   background: rgba(0,0,0,.8);
   display: none;
   align-items: center;
   justify-content: center;
}

.products-preview .preview{
   display: none;
   padding:2rem;
   text-align: center;
   background: #fff;
   position: relative;
   margin:2rem;
   width: 40rem;
}

.products-preview .preview.active{
   display: inline-block;
}

.products-preview .preview img{
   height: 20rem;
}

.products-preview .preview .fa-times{
   position: absolute;
   top:1rem; right:1.5rem;
   cursor: pointer;
   color:#444;
   font-size: 4rem;
}

.products-preview .preview .fa-times:hover{
   transform: rotate(90deg);
}

.products-preview .preview h3{
   color:#444;
   padding:.5rem 0;
   font-size: 2.5rem;
}

.products-preview .preview .stars{
   padding:1rem 0;
   font-size: 1.7rem;
}

.products-preview .preview .stars i{
   color:#27ae60;
}

.products-preview .preview .stars span{
   color:#999;
}

.products-preview .preview p{
   line-height: 1.5;
   padding:1rem 0;
   font-size: 1.6rem;
   color:#777;
}

.products-preview .preview .price{
   padding:1rem 0;
   font-size: 2.5rem;
   color:#27ae60;
}

.products-preview .preview .buttons{
   display: flex;
   gap:1.5rem;
   flex-wrap: wrap;
   margin-top: 1rem;
}

.products-preview .preview .buttons button{
   flex:1 1 16rem;
   padding:1rem;
   font-size: 1.8rem;
   color:#444;
   border:.1rem solid #444;
}

.products-preview .preview .buttons button.cart{
   background: #444;
   color:#fff;
}

.products-preview .preview .buttons button.cart:hover{
   background: #111;
}

.products-preview .preview .buttons button.buy:hover{
   background: #444;
   color:#fff;
}


@media (max-width:991px){

   html{
      font-size: 55%;
   }

}

@media (max-width:768px){

   .products-preview .preview img{
      height: 25rem;
   }

}

@media (max-width:450px){

   html{
      font-size: 50%;
   }

}





.promotion {
	float: left;
	width: 100%;
	margin-top: 1.5rem;
}

.promotion>label {
	float: left;
	width: 100%;
	margin-bottom: 1rem;
}

.promotion>input {
	float: left;
	width: 30%;
	font-size: 1rem;
	padding: 1rem 1.5rem;
	border: 2px solid #DDD;
}

.promotion:hover>input {
	border-color: #FC921D;
}

.promotion>button {
	float: left;
	width: 10%;
	padding: 1rem 0.5rem;
}

.promotion:hover>button {
	border-color: #FC921D;
	background-color: #FC921D;
}

.promotion>button::after {
	content: "\276f";
	font-size: 1rem;
}