* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
}
button {
    padding: 10px 20px;
    border: none;
    background-color: blueviolet;
    border-radius: 8px;
    transition: all 0.3s;
}

button:hover {
    background-color: cornflowerblue;
    transform: rotate(10deg)
}