* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  }
  
  .main {
    display: flex;
    padding-top: 32px;
    border-top: 1px solid #ccc;
  }
  
  .main .item {
    width: 50%;
  }
  

  .item .image {
    width: 70%;
    margin: 0 auto;
    border: 1px solid #ccc;
  }
  
  .item .image img {
    width: 100%;
  }
  
  .info {
    width: 70%;
    padding-right: 32px;
  }
  
  
  .info {
    color: black;
    margin-left: 16px;
    font-weight: 300;
    font-size: 14px;
  }
  .info .color,
  .info .size {
    display: flex;
    margin: 16px 0;
  }

  .discount {
    border: 1px solid #fee2e2;
    border-radius: 8px;
    margin-bottom: 16px;
  }
  
  .discount h3 {
    padding: 8px 16px;
    color: #d70018;
    background-color: #fee2e2;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .discount a {
    display: block;
    padding: 8px 16px;
    line-height: 1.5;
    text-decoration: none;
    color: #000;
  }
  
  .discount a:hover {
    text-decoration: underline;
  }
  
  .discount a span {
    padding: 2px 5px;
    color: #fff;
    font-size: 12px;
    border-radius: 50%;
  
    margin-right: 8px;
    background-color: #d70018;
    position: relative;
    bottom: 2px;
  }
  
  .info .btn {
    display: inline-block;
    padding: 8px 16px;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
    color: #fff;
  }
  
  .info a p {
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .info a.btn {
    width: 48%;
    background-color: #277cea;
  }
  
  .info a.big {
    width: 100%;
    background: linear-gradient(#f52f32, #e11b1e);
    font-size: 18px;
    margin-bottom: 16px;
  }
  
  .box.small {
    display: flex;
    justify-content: space-between;
  }
  .item .danhgia {
      padding-left: 110px;
  }
  .item .font {
      color: #333E48;
  }
  .tinhtrang .conhang  {
    color: white;
    font-size: 1.2rem;
    margin-left: 6px;
    margin-bottom: 100px;
    background-color: #1EC400;
    padding: 3px;
    border-radius: 8px;
    width: 100px;
  }

  .tinhtrang .quantam {
      margin-left: 6px;
  }
    

  .tieude {
      background-color: #333E48;
      height: 70px;
      color: #FFFFFF;
      font-size: 20px;
      font-weight: bold;
  }

  .tieude .thanhtoan {
      margin-left: 70rem;
      margin-top: 35px;
      margin-right: 15px;
  }
  .tieude .lienhe {
      margin-right: 15px;
  }
 
.price .giagoc {
    font-size: 1.2rem;
    padding-top: 8px;
    color: #707070;
    font-weight: bold;
    text-decoration: line-through;
}

.price .giamua {
    color: white;
    font-size: 1.6rem;
    margin-left: 6px;
    margin-right: 10px;
    background-color: red;
    padding: 5px;
    border-radius: 8px;
    font-weight: bold;
}
.tieude .back {
    text-decoration: none;
    color: white;
}