@media (min-width: 992px) {
    .header-meta-list div {
        padding: 0 4.2%;

    }
    .col-md-12 {
        width: 100%;
    }
}

@media (min-width: 992px) {
    .home_brands .brand_1 .brand_img {
        margin-top: -5px;
    }
    
}


@media (min-width: 1200px) {
    .container {
        width: 1200px;
    }
    
}
